.header { 
  padding: 0 41px;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 72px;
  background-color: #0064EB;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  width: 563px;
  height: 40px;
}

.searchSVG {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 40px;
  border-radius: 6px;
  background-color: #ffff;
}

.searchSVG svg {
  padding: 5px;
}

.searchInput {
  padding: 0;
  padding-left: 6px;
  width: 448px;
  height: 24px;
  border: none;
  font-size: 14px;
  line-height: 16.94px;
  letter-spacing: 0.14px;
}

.searchInput :active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

*, ::after, ::before {
  box-sizing: content-box;
}

@media screen and (max-width: 720px) {
  .headerWrapper {
    margin-left: 0;
    margin: auto;
    justify-content: space-around;
  }
  
  .headerWrapper,
  .searchSVG,
  .searchInput {
    width: 80%;
  }
}

@media screen and (max-width: 460px) {

  .header {
    height: auto;
  }
  .headerWrapper {
    margin-left: 0;
    margin: auto;
    flex-direction: column;
    align-items: center;
    height: 100px;
  }
  
  .headerWrapper,
  .searchSVG {
    width: 90%;
  }

  .searchSVG {
    height: 35px;
  }

  .searchInput {
    width: 80%;
  }
}